    <div class="row">
        <div class="list-group col-md-3">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>
        </div>

        <div class="list-group col-md-3">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>
        </div>

        <div class="list-group col-md-3">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">List group item heading</h5>
                <small>3 days ago</small>
              </div>
              <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
              <small>Donec id elit non mi porta.</small>
            </a>
        </div>
          
    <a href="">
        <div class="col-md-4">
            <div class="card text-white bg-primary mb-3">
            <div class="card-body">
                <h5 class="card-title">Account Creation</h5>
                <p class="card-text display-6">Placeholder...</p>
            </div>
            </div>
        </div>
    </a>


    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
        <div class="card-body">
            <h5 class="card-title">Profile Completion</h5>
            <p class="card-text display-6">Placeholder...</p>
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
        <div class="card-body">
            <h5 class="card-title">Account Link to Parent</h5>
            <p class="card-text display-6">Placeholder...</p>
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
        <div class="card-body">
            <h5 class="card-title">Account Link to Student</h5>
            <p class="card-text display-6">Placeholder...</p>
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
        <div class="card-body">
            <h5 class="card-title">Reserved Tour Date</h5>
            <p class="card-text display-6">Placeholder...</p>
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
        <div class="card-body">
            <h5 class="card-title">Parental Consent</h5>
            <p class="card-text display-6">Placeholder...</p>
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
        <div class="card-body">
            <h5 class="card-title">Verify Parent ID/Background Check</h5>
            <p class="card-text display-6">Placeholder...</p>
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
        <div class="card-body">
            <h5 class="card-title">Criminal Background Check (if parent travels)</h5>
            <p class="card-text display-6">Placeholder...</p>
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
        <div class="card-body">
            <h5 class="card-title">Verify Student ID</h5>
            <p class="card-text display-6">Placeholder...</p>
        </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card text-white bg-primary mb-3">
        <div class="card-body">
            <h5 class="card-title">Verify Itinerary</h5>
            <p class="card-text display-6">Placeholder...</p>
        </div>
        </div>
    </div>
</div>
