{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container mt-5 main-content" style="max-width: 500px;">
  <h3 class="text-center">If you have an account, enter your email and password</h3>

  <form method="POST" action="{{ url_for('auth.login') }}">
    <div class="mb-3">
      <label>Email:</label>
      <input type="email" name="email" class="form-control" required>
    </div>    
    <div class="mb-3">
      <label>Password:</label>
      <input type="password" name="password" class="form-control" autocompleted="on" required>
    </div>
    <button class="btn btn-primary w-100">Login</button>
  </form>

  <hr>
  <div class="text-center mb-2">or sign in with</div>
  <div class="d-flex justify-content-between">
    <a href="{{ url_for('google.login') }}" class="btn btn-outline-danger w-100 me-2">Google</a>
    <a href="{{ url_for('facebook.login') }}" class="btn btn-outline-primary w-100 me-2">Facebook</a>
    <a href="{{ url_for('auth.apple_login') }}" class="btn btn-outline-dark w-100">Apple</a>
  </div>
</div>
{% endblock %}
